# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Environment / Secrets
.env
.env.* 

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db


# Logs
*.log

# SQL outputs
*.sqlite
*.db


# Power BI
*.pbix
*.pbit